</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<style type="text/css">
    #circulo {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: flex;
        background: black;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px auto;
        padding: 3%
    }
</style>

<footer class="page-footer grey">
  <!--<div class="container">
        <div class="row">
            <div class="col s2">
                <img id="circulo" class="responsive-img" src="https://zebrands.mx/wp-content/uploads/2021/07/zebrands.jpg">
            </div>
            <div class="col s2">
                <img id="circulo" class="responsive-img" src="https://www.enroll-u.com/_i/1/7/7/4ecd9be0-eec4-11e9-9992-0231b47980f0.jpeg">
            </div>
            <div class="col s4">
                <h5 class="black-text">Instituto Tecnologico de Estudios Superiores de Monterrey </h5>
                <p class="black-text text-lighten-4">Construccion de Software y toma de decisiones</p>
            </div>
            <div class="col s4">
                <h5 class="black-text">Contactanos!</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://tec.mx/es">Quienes Somos?</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2022
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div> -->
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    M.AutoInit();
</script>
</body>