@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background-color: #c4c4c4;
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
		display: flex;
	}

	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;	
		background-color: #2c2c2c;	
	}

	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		background-color: #2c2c2c;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
		
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
		
	}
	
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 25px;
		margin-left: 700px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #000000;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}

	.container-menu{
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	.cont-menu .l{
		margin-top: 200px; 
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
		background-color: #1c1c1c;
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #ffffff;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	#main-container{
		margin-top: 300px;
		margin-left: -770px;
		width: 600px;
	}
	
	table{
		background-color: white;
		text-align: center;
		border-collapse: collapse;
		width: 100%;
	}
	
	th, td{
		padding: 20px;
	}
	
	thead{
		background-color: #2c2c2c;
		color: white;
	}
	
	tr:nth-child(even){
		background-color: #ddd;
	}
	
	tr:hover td{
		background-color: #00283f;
		color: white;
	}

	.menu__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
	}
	.menu__links{
		align-items: center;
		margin-top: 170px;
		margin-left: 250px;
		height: 20px;
		transition: transform .5s;
		display: flex;

	}
	.menu__item{
		list-style: none;
		position: relative;
		height: 100%;
		--clip: polygon(0 0, 100% 0, 100% 0, 0 0);
		--transform: rotate(-90deg);

	}
	.menu__item:hover{
		--clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		--transform: rotate(0);
	}
	.menu__link{
		color: white;
		text-decoration: none;
		padding: 0 60px;
		display: flex;
		height: 100%;
		align-items: center;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.menu__nesting{
		clip-path: var(--clip);
		list-style: none;
		transition: clip-path .3s;
		position: absolute;
		right: 0;
		bottom: 0;
		width: max-content;
		transform: translateY(100%);
		background-color: #000;
	}
    @media screen and (max-width:500px){
        form{
            width: 80%;
        }
    }
	
